$sm_width: 576px;
$md_width: 768px;
$lg_width: 992px;

body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    min-width: 480px;
    background: #222;
    position: relative;
}

html {
    height: -webkit-fill-available;
}

main {
    display: flex;
    flex-wrap: nowrap;

    .breadcrumb
    {
        margin: 0;

        a {
            padding: 0;
        }
    }
}

.sidebar
{
    width: 280px;
    box-shadow: 0 0 1rem black;
    top: 0;
    bottom: 0;
    position: fixed;
    z-index: 10;

    .logo {
        width: 90%;
        max-width: 80px;
        display: inline-block;
    }

    @media screen and (max-width: $lg_width) {
        width: 84px;
    }
}

section
{
    margin: 1rem 40px 1rem 320px;
    width: 100%;

    @media screen and (max-width: $lg_width) {
        margin: 1rem 1rem 1rem 104px;
    }

    p {
        margin-bottom: 0.5rem;
    }

    .game-assist {
        min-width: 920px;
    }
}

.card
{
    .card-number
    {
        background: black;
        border-radius: 0.25rem 0 0 0.25rem;
    }

    .card-picture
    {
        padding: 1rem;

        img
        {
            width:140px;
        }
    }
}